body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#list-card-div {
  color: rgb(15, 96, 44);
  border: 5px solid green;
  border-radius: 0.5rem;
  max-width: 200px;
  margin: 10px;
}

#your-list-h1 {
  color: rgb(15, 96, 44);
}

.home-headers {
  color: rgb(15, 96, 44);
}
